[Desktop Entry]
Name=Llama.cpp Server Tray
Comment=Tray icon to control llama.cpp service
Exec=llama.cpp-server-tray
Icon=llama.cpp-server-tray_on
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
